.cea-btn:hover {
  color: white;
}

.cea-btn {
  background-color: "red";
  border-radius: "50px";
  font-size: "13px";
  height: "30px";
  width: "345px";
  cursor: "pointer";
  padding-right: "160px";
}
