.agreement {
  text-align: center;
  margin-bottom: 5px;
  background-color: rgb(235, 240, 250);
  align-items: center;
}

.review-agreement {
  text-align: center;
  margin-bottom: 50px;
  align-items: center;
}

.agreement-btn {
  margin-top: 1rem;
  color: black;
  font: ubuntu;
  margin-top: 1rem;
  padding: 5px 10px;
  background-color: rgba(14, 255, 6, 0.61);
  border-radius: 10px;
}

.agreement-btn:hover {
  box-shadow: 0 3px 6px black;
  background-color: rgba(14, 255, 6, 0.61);
}

.agreement-btn:active {
  transform: translateY(2px);
}

.select-message {
  margin: 0px;
  margin-top: 5rem;
  /* margin-bottom: 2rem; */
  display: grid;
  /* grid-template-columns: 140px 140px 140px; */
  grid-template-columns: repeat(auto-fit, minmax(70px, 130px));
}

.select-message > div:empty {
  display: none;
}

.image-container {
  margin: 0px;
}

.image {
  align-items: center;
  margin: 10px 0px 10px 0px;
}

.image-container:hover {
  transform: translateY(-3px);
}

.image:active {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  box-shadow: 5px 5px 5px green;
}

.step {
  background-color: rgb(245, 245, 245);
  border-color: transparent;
  background-color: rgb(238, 182, 30);
  margin: 5px;
  border-radius: 9%;
  cursor: pointer;
  width: 70px;
  height: 30px;
}

.step:focus {
  color: red;
}

.prev-next {
  background-color: rgb(241, 242, 244);
  border-color: transparent;
  background-color: rgb(236, 186, 92);
  position: relative;
  top: 1rem;
  /* padding: 5px; */
  cursor: pointer;
  width: 70px;
  height: 30px;
  /* text-align: center; */
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 9%;
}
.prev-next:hover {
  box-shadow: 0 3px 6px black;
  background-color: rgba(14, 255, 6, 0.61);
}

.prev-next:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 5px 5px 5px green;
}
