.post {
  background-color: #fcf9f9;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 40px;
}

/*.post-header {
  background-color: whitesmoke;

} */

.post-msg {
  display: block;
}

.post-msg > div:empty {
  display: none;
}

.hor-div {
  display: flex;
  margin-left: 1%;
  margin-right: 3%;
  margin-bottom: 0;
}

.hor-div > div:empty {
  display: none;
}

.post-text {
  background-color: #c4c4c4;
  border-radius: 35px;
  border-left: 10%;
  border-top: 1px;
  padding: 15px 15px;
  text-align: left;
}
